*.png
__pycache__/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
services/data_prep/credentials.json
services/data_prep/.idea

# Environment Variables
.env
# Python virtual environment and cache
.venv/
venv/
__pycache__/

